[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
tensorboard = "*"
tensorflow-gpu = "==1.6.0"
scikit-image = "*"
docopt = "*"

[dev-packages]
